* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {   
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #E50043;
    font-size:18pt;
    position: fixed;
    z-index: 10;

}

.menu {
    display: flex;
    width: 300px;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }

.heroblock {
    display: flex;
    width: 1440px;
    height: 950px;
    background: url('images/evian_origins_logo.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

}

.pinkborderblock {
    display: flex;
    position: relative;
    
    width: 1040px;
    height: 280px;
    color: black;
    border: 1px solid palevioletred;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    padding: 24px;

}

.pinkborderblock_with_bottle {
    display: flex;
    flex-direction: column;
}


.footer {
    background-color: #F8BFC7;
    padding: 50 50 50;
    color: white;
    position: absolute;
    width: 1440px;
    height: 140px;
    left: 0px;
    top: 3219px;
    

}